/build/
/.gradle/


##Main
/.gradle/
/.idea/
/build/
/log/
gradlew
gradlew.bat
/logging.properties
/.classpath
/.project
/bin/*
/log/*
/gradle/*
/.settings/*


/examples/.settings/*
/examples/.project


##examples/ldfu-spider/
/ldfu-spider/.gradle/
/ldfu-spider/.idea/
/ldfu-spider/build/
/ldfu-spider/log/
/ldfu-spider/gradlew
/ldfu-spider/gradlew.bat
/ldfu-spider/logging.properties

/ldfu-spider/.classpath
/ldfu-spider/.project
/ldfu-spider/bin/*
/ldfu-spider/log/*
/ldfu-spider/gradle/*
/ldfu-spider/.settings/*

##examples/ldfu-spider/
/examples/ldfu-spider/.gradle/
/examples/ldfu-spider/.idea/
/examples/ldfu-spider/build/
/examples/ldfu-spider/log/
/examples/ldfu-spider/gradlew
/examples/ldfu-spider/gradlew.bat
/examples/ldfu-spider/logging.properties

/examples/ldfu-spider/.classpath
/examples/ldfu-spider/.project
/examples/ldfu-spider/bin/*
/examples/ldfu-spider/log/*
/examples/ldfu-spider/gradle/*
/examples/ldfu-spider/.settings/*


##examples/leubot/
/examples/leubot/.gradle/
/examples/leubot/.idea/
/examples/leubot/build/
/examples/leubot/log/
/examples/leubot/gradlew
/examples/leubot/gradlew.bat
/examples/leubot/logging.properties

/examples/leubot/.classpath
/examples/leubot/.project
/examples/leubot/bin/*
/examples/leubot/log/*
/examples/leubot/gradle/*
/examples/leubot/.settings/*



##hypermedia-jacamo-test/ldfu-evaluation/
/ldfu-evaluation/.gradle/
/ldfu-evaluation/.idea/
/ldfu-evaluation/build/
/ldfu-evaluation/log/
/ldfu-evaluation/gradlew
/ldfu-evaluation/gradlew.bat
/ldfu-evaluation/logging.properties

/ldfu-evaluation/.classpath
/ldfu-evaluation/.project
/ldfu-evaluation/bin/*
/ldfu-evaluation/log/*
/ldfu-evaluation/gradle/*
/ldfu-evaluation/.settings/*

##evaluation
/evaluation/.gradle/
/evaluation/.idea/
/evaluation/build/
/evaluation/log/
/evaluation/gradlew
/evaluation/gradlew.bat
/evaluation/logging.properties

/evaluation/.classpath
/evaluation/.project
/evaluation/bin/*
/evaluation/log/*
/evaluation/gradle/*
/evaluation/.settings/*